@using LoanManagementSystem.Models;
@model GadgetLoan
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .form-group {
        margin-bottom: 5px;
    }

    .btn-custom{
        background-color: #004260;
        color: white;
    }

    .blue-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        color: #004260;
    }

    .red-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        color: #ff473c;
    }
</style>

<div>
    <span class="blue-text">Add</span><span class="red-text">Gadget</span>
</div>
<form method="post" asp-action="Create" asp-controller="GadgetLoan">
    <div class="form-group row">
        <label asp-for="GadgetName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input asp-for="GadgetName" class="form-control" id="GadgetName">
            <span asp-validation-for="GadgetName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <textarea asp-for="Description" class="form-control" id="Description" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
            <input asp-for="Price" class="form-control" id="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="GadgetImageURL" class="col-sm-2 col-form-label">Image URL</label>
        <div class="col-sm-10">
            <input asp-for="GadgetImageURL" class="form-control" id="GadgetImageURL">
            <span asp-validation-for="GadgetImageURL" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-custom">Add</button>
        </div>
    </div>
</form>