<style>
    .blue-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 6vw;
        color: #004260;
    }

    .red-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 6vw;
        color: #ff473c;
    }
</style>


<div>
    <span class="blue-text">Purchase</span><span class="red-text">Error</span>
</div>

@if (ViewData.ModelState.Any(m => m.Value.Errors.Count > 0))
{
    <ul>
        @foreach (var error in ViewData.ModelState.Values.SelectMany(m => m.Errors))
        {
            <li>@Html.Raw(error.ErrorMessage)</li>
        }
    </ul>
}
