@{
    ViewData["Title"] = "Purchase Error";
}

<h1>@ViewData["Title"]</h1>

@if (ViewData.ModelState.Any(m => m.Value.Errors.Count > 0))
{
    <ul>
        @foreach (var error in ViewData.ModelState.Values.SelectMany(m => m.Errors))
        {
            <li>@Html.Raw(error.ErrorMessage)</li>
        }
    </ul>
}
